<script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body Active">
        {{mmi.message}}
        <!--  <ul>
              <li ng-repeat="item in items">
                  <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
              </li>
          </ul>
          Selected: <b>{{ selected.item }}</b> -->
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary cursor" type="button" ng-click="mmi.ok()">OK</button>
      <!--    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
      </div>
  </script>
