<div class="profileTab" ng-controller="ProfileController as pf">
  <div class="row padding-top-2">
    <div class="col-xs-4">
      <img ng-src="{{pf.userImageUrl}}" class="img-circle userProfileImg" style="float: left;"/>
    </div>
    <div class="col-xs-8">
      <span style="position: relative; top: 5px;">
        <div class="userName" style="font-size: 1.2em;font-weight: 600;">{{pf.userName}}</div>
        <div class="university">Student at GGSIPU.</div>
        <a ui-sref="user-profile-edit" style="color:#FF9037">Edit Profile</a>
        <div>{{pf.userDetails.followers || '-'}} followers</div>
        <div class="cursor"><a ng-href="{{pf.fbIdUrl}}"><img ng-src="../images/fb.png" style="height=15px;width:15px" /></a></div>
      </span>
    </div>
  </div>

  <div class="row userInfoBox" >
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-6">
          <div class="textCenter">{{pf.userDetails["documents-uploaded"] || '-'}}</div>
          <div class="textCenter">Karma Points</div>
        </div>
        <div class="col-xs-6">
          <div class="textCenter">{{pf.userDetails["documents-uploaded"] || '-'}}</div>
          <div class="textCenter">Documents uploaded</div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-6">
          <div class="textCenter">{{pf.userDetails.lists || '-'}}</div>
          <div class="textCenter">Lists</div>
        </div>
        <div class="col-xs-6">
          <div class="textCenter">{{pf.userDetails.following || '-'}}</div>
          <div class="textCenter">Following</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top:40px">
    <div class="col-xs-12">
      <div class="noticesSection">
        <div ng-repeat="notice in pf.notices |orderBy:'updatedAt':true">
          <notice-box notice="notice"></notice-box>
        </div>
      </div>
    </div>
  </div>
</div>
