$dp-image: "../images/dp.png";
$line-height-base:20px;
$color-warning : red;
$color-success : lightgreen;

body{
  background: none;
  color:$text-base-color;
  font-family:sans-serif;
}
.navHead{
  line-height: $line-height-base;
  padding:3% 0% 3% 0%;
  border-bottom: 1px solid #90A4AE;
}
#divEnroll{
  margin: 3em 1em 0em 1em;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

#pDesc{
  padding-top:0px !important;
  text-align: center;
}
.input-group-addon.transparent{
  background: none;
  border-color: rgb(255,255,255);
  float: left;
}
.borderless td, .borderless th {
    border-top : none !important;
}

.has-error{
  border-color:$color-warning;
}
.is-valid{
  // border-color: $color-success;
  border: 2px solid $color-success;
}
.help-block{
  color: $color-warning;
  float: left;
}
