


.linkColor{
  color:$primary-orange-color;
}

li.active{
  border-width:0 0 2px 0 !important;
  border-style: solid;
  border-color: $primary-orange-color !important;
}

.textColor{
  color: $primary-orange-color;
}



//user upload page

.uploadBox{
  overflow: hidden;
  position: relative;

  /* SOME STYLING */
  width:  90px;
  height: 32px;
  border-radius: 4px;
  padding-top:5px;
  left:-25px;
  top:20px;
  border: 1px solid #ec971f;
  font-weight: bold;
  color:white;
  background: #ec971f;
}

.fileInput{
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 100px;
  z-index: 2;

  opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0.0; /* Safari 1.x */
  -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}

.uploadDiv{
  top:0;
  background:white;
  box-shadow: 1px;
  margin:5% 0;
}

.uploadForm{
  padding: 2*$unit 0;
}

.leftPad{
  padding-left: $unit +5 !important;
}

.titleSpan{
  @extend .Absolute;
  padding:0 5%;
}

//user profile page css

.userInfoBox{
  padding: 8px;
  margin-top:15px;
  border-width:1px 0;
  border-style: solid;
  border-color:#ccc;
  color: #333;
}
