$background-image: "../images/background_mobile.png";
$loader-image: "../images/loading_circle.gif";


#mainContainer{
  font-family: "Vollkorn", sans-serif;
  background: url($background-image) no-repeat center center fixed;
  background-size : 150% 150% !important;
  color:white;
  display:-webkit-box !important;
}
h1{
  font-size:$font-size-base * 3;
}

#divForm{
  margin:10% 10% 100% 10%;
}
#desc{
  font-size: $font-size-base * 1;
  line-height: $line-height-base;
}
#btnFBLogin{
  background-color:#3b5998;
}
.spinner{
  background: url($loader-image) no-repeat center center;
  height: 5em;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  image-rendering : pixelated;
}
