.noticeBoxDiv{
  border-width: 1px 0px 2px 0px ;
  border-style: solid;
  border-color: lightgrey;
  margin:2px 0px;
  display:table;
  min-height: 100px;
  width: 100%;
}

.noticeBoxIcon{
  color:lightgrey;
}

.centerAlign{
  text-align:center;
}

.Active{
  color:$primary-orange-color !important;
}

.Hidden{
  display:none;
}
