

.champImg{
  height:$unit*10;
  width:$unit*10;
}

.noticeOwnerImage{
  @extend .champImg;
  position: absolute;
  top: 22px;
  left: 50px;
  height: 75px;
  width: 75px;
}

.userProfileImg{
  @extend .champImg;
  height:8em;
  width:8em;
}
