.underlineDiv{
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
}

.fbBtnMargin{
  margin-top:100px;
}

.right{
  float:right;
}

.textCenter{
  text-align: center;
}

.cursor{
  cursor: pointer;
}

.Absolute{
  position: absolute;
}

.noscroll{
position: fixed;
overflow: hidden;
}
