
<div ng-controller="StartingPage as sp" class="row text-center noscroll" >

  <div id="divForm">
    <div><img src="images/sd-logo-64.png" class="max-width-80 padding-bottom-2 padding-top-2"></div>
    <p id="desc" class="text-center" align="left">
      Create an account with StarDocx today to get access to all college related documents at one place.
      Sign in to create document lists, mark important content as favorite, receive and share important
      notes with your peers and more...
    </p>
    <div class="spinner" ng-show="sp.loading==true">
      Processing..
    </div>
    <h3>
      <button type="button" class="btn btn-primary btn-lg cursor floating" ng-click="sp.Login()"
              id="btnFBLogin" ng-hide="sp.loading==true">
        Login with Facebook
      </button>
      <div class="text-small text-grey padding-top-half">We never post without your consent</div>
    </h3>
  </div>

</div>
