<!--Include the header-->
<div ng-include = "'stardocx/dashboard/header.html'" ></div>

<div class="container">
  <div class="row afterTitle">
    <div class="col-md-8 col-md-push-2">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-target="#home" class="linkColor clickable" data-toggle="tab">Home</a>
          </li>
          <li>
            <a data-target="#upload" class="linkColor clickable" data-toggle="tab">Your Uploads</a>
          </li>
          <li>
            <a data-target="#userProfile" class="linkColor clickable" style="margin-right:0px !important" data-toggle="tab">Your Profile</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
              <div ng-include="'stardocx/dashboard/landing_views/landing_view_home/landing-view-home.html'"></div>
          </div>
          <div class="tab-pane fade" id="upload">
            <div ng-include="'stardocx/dashboard/landing_views/landing_view_upload/landing-view-upload.html'"></div>
          </div>
          <div class="tab-pane fade" id="userProfile">
            <div ng-include="'stardocx/dashboard/landing_views/landing_view_profile/landing-view-profile.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
