
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div>
      <a ng-hide="showfield" href="/" class="navbar-brand inverse"><span class="brand-logo text-center"><img src="images/sd-logo-64-white.png"></span></a>
    </div>
  </div>
</nav>
