<div ng-controller="UserManEnroll as enroll" >
  <div class="row navHead bottom-buffer">
    <div class="col-xs-offset-1 col-xs-3 col-md-offset-1 col-md-2">
      <strong class="clickable cursor" ui-sref="user-auto-enroll" href="#/user/enroll/auto">StarDocX</strong>
    </div>
    <div class="col-xs-offset-0 col-xs-4 col-md-offset-2 col-md-2">
      <strong>Create Profile</strong>
    </div>
  </div>
  <!-- <pre>
    {{enrollForm.batch|json}}
  </pre> -->
  <div id="divEnroll" class="row text-center col-md-push-3 col-md-6">
    <img ng-src={{enroll.champ}} class="img-circle champImg" />
    <br /><br />
  </div>
  <div class="text-center col-md-push-3 col-md-6">
    <form name="enrollForm" class="col-xs-12" ng-submit="enroll.submitUserInfo()">
      <table class="table borderless">
      <tbody>
        <tr>
          <td class="input-group">
            <label class="input-group-addon transparent" for=first_name"">First Name</label>
          </td>
          <td>
            <input name="first_name" type="text" id="first_name" ng-model="enroll.userInfo['first_name']"
                   class="form-control" placeholder="First Name"
                   ng-class="{'is-valid':enrollForm.first_name.$valid,'has-error' : enrollForm.first_name.$touched && enrollForm.first_name.$error.required}"
                   required />
             <span class="help-block" ng-show="enrollForm.first_name.$touched &&  enrollForm.first_name.$error.required">
               First Name is Required
             </span>
          </td>
        </tr>
        <tr>
          <td class="input-group">
            <label class="input-group-addon transparent" for="l_name">Last Name</label>
          </td>
          <td>
            <input name="last_name" type="text" id="last_name" ng-model="enroll.userInfo['last_name']"
                   class="form-control" placeholder="Last Name"
                   ng-class="{'is-valid':enrollForm.last_name.$valid,'has-error' : enrollForm.last_name.$touched && enrollForm.last_name.$error.required}"
                   required />
             <span class="help-block" ng-show="enrollForm.last_name.$touched &&  enrollForm.last_name.$error.required">
               Last Name is Required
             </span>
          </td>
        </tr>
        <tr>
          <td class="input-group">
            <label class="input-group-addon transparent" for="college">College</label>
          </td>
          <td>
            <input name="college" type="text" id="college" ng-model="enroll.userInfo['college']"
                   class="form-control" placeholder="College"  typeahead-min-length="0" typeahead-no-results="noClgResult" typeahead-editable="false"
                   uib-typeahead="college.value for college in enroll.colleges | filter : $viewValue | limitTo : 8"
                   ng-class="{'is-valid':enrollForm.college.$valid,'has-error' : enrollForm.college.$touched && enrollForm.college.$error.required}"
                   required />
             <span ng-if="noClgResult" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
              <ul class="uib-dropdown" style="text-align:left;list-style:none">
                <li><a href>no results</a></li>
              </ul>
            </span>
             <span class="help-block" ng-show="enrollForm.college.$touched &&  enrollForm.college.$error.required">
               College is Required
             </span>
          </td>
        </tr>
        <!-- Commented as University is GGSIPU by default -->
        <!-- tr>
          <td class="input-group">
            <label class="input-group-addon transparent" for="university">University</label>
          </td>
          <td>
            <input name="university" type="text" id="university" ng-model="enroll.userInfo['university']"
                   class="form-control" placeholder="University"
                   ng-class="{'is-valid':enrollForm.university.$valid,'has-error' : enrollForm.university.$touched && enrollForm.university.$error.required}"
                   required />
             <span class="help-block" ng-show="enrollForm.university.$touched &&  enrollForm.university.$error.required">
               University is Required
             </span>
          </td>
        </tr> -->
        <tr>
          <td class="input-group">
            <label class="input-group-addon transparent" for="specialization">Specialization</label>
          </td>
          <td>
            <input name="specialization" type="text" id="specialization" ng-model="enroll.userInfo['program']"
                   class="form-control" placeholder="Specialization" typeahead-editable="false"
                   uib-typeahead="program.value for program in enroll.programs | filter : $viewValue | limitTo : 8"  typeahead-min-length="0" typeahead-no-results="noSpecResult"
                   ng-class="{'is-valid':enrollForm.specialization.$valid,'has-error' : enrollForm.specialization.$touched && enrollForm.specialization.$error.required}"
                   required />
             <span ng-if="noSpecResult" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
              <ul class="uib-dropdown" style="text-align:left;list-style:none">
                <li><a href>no results</a></li>
              </ul>
            </span>

             <span class="help-block" ng-show="enrollForm.specialization.$touched &&  enrollForm.specialization.$error.required">
               Specialization is Required
             </span>
          </td>
        </tr>
        <!-- <tr>
          <td class="input-group">
            <label class="input-group-addon transparent" for="batch">Batch</label>
          </td>
          <td>
            <select class="form-control" name="batch"
             ng-class="{'has-error' : enrollForm.batch.$touched && enrollForm.batch.$error.required}"
             required>
              <option ng-repeat="year in enroll.userInfo['batch']">
                {{year}}
              </option>
            </select>
          </td>
        </tr> -->

        <tr>
          <td class="input-group">
            <label class="input-group-addon transparent" for="batch">Batch</label>
          </td>
          <td>
            <input name="batch" type="number" min="2000" max="2016" step="1" id="batch" ng-model="enroll.userInfo['batch']"
                   class="form-control" placeholder="Admission Year"
                   ng-class="{'is-valid':enrollForm.batch.$valid,'has-error' : enrollForm.batch.$touched && enrollForm.batch.$error.required}"
                   required />
             <span class="help-block" ng-show="enrollForm.batch.$touched &&  enrollForm.batch.$error.required">
               Batch is Required
             </span>
          </td>
        </tr>
        <tr>
          <td class="input-group">
            <label class="input-group-addon transparent" for="email">Email</label>
          </td>
          <td>
            <input name="email" type="email" id="email" ng-model="enroll.userInfo['email']"
                   class="form-control" placeholder="Email"
                   ng-class="{'is-valid':enrollForm.email.$valid,'has-error' : enrollForm.email.$touched && (enrollForm.email.$error.required || enrollForm.email.$error.email)}"
                   required />
             <span class="help-block" ng-show="enrollForm.email.$touched &&  enrollForm.email.$error.required">
               Email is Required
             </span>
             <span class="help-block" ng-show="enrollForm.email.$touched &&  enrollForm.email.$error.email">
               Invalid Email
             </span>
          </td>
        </tr>
      </tbody>
      </table>
      <div class="text-center">
        <a ui-sref="user-auto-enroll">Or, prefill with enrollment number</a>
        <br /><br />
        <input type="button" value="Save" class="btn btn-warning btn-md cursor" ng-disabled="enrollForm.$invalid" ng-click="enroll.submitUserInfo()" />
      </div>
    </form>
  </div>
</div>
