<div class="row card-hover margin-half" >
  <div class="col-xs-12 list-element">
    <div style="float:left">
      <span style="display: inline-table">
        <div class="cursor" ng-click="nb.upVote()">
          <i class="fa fa-caret-up noticeBoxIcon fa-3x"
             ng-class="{Active:nb.notice.isUpvoted}"
             aria-hidden="true"></i>
        </div>
        <div class="text-center">{{nb.notice.upVotes}}</div>
        <div class="text-center">{{nb.notice.downVotes}}</div>
        <div class="cursor" ng-click="nb.downVote()">
          <i class="fa fa-caret-down fa-3x noticeBoxIcon"
             ng-class="{Active:nb.notice.isDownvoted}"
             aria-hidden="true"></i>
        </div>
      </span>
    </div>
    <div id="ownerImage">
      <img ng-src="{{nb.notice.ownerImage||'../images/default-user.jpg'}}" class="img-circle list-avatar" />
    </div>
    <div style="float:left;min-height:9em;height:auto;min-width:85%;width:auto;" ng-click=nb.goToDetail()>
      <span class="list-title">{{nb.notice.ownerName}}</span>
      <span class="list-date">{{nb.date}}</span>
      <span class="list-description"><a ng-click=nb.goToDetail()>{{nb.notice.filename}}</a></span>
    </div>
  </div>

  <!--<div class="col-xs-8 padding-top-1">-->
    <!--<div class="row">-->
      <!--<div class="col-xs-8">{{nb.notice.ownerName}} </div>-->
      <!--<div class="col-xs-4" style="padding:0px">-->
        <!--<span>-->
          <!--{{nb.date}}-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div style="min-height:55px" class="cursor"><a ng-click=nb.goToDetail()>{{nb.notice.filename}}</a></div>-->
    <!--<div>{{nb.timeelapsed}}</div>-->
  <!--</div>-->
</div>
