<div ng-controller="HomeController as hm">
  <div class="row">
    <div class="col-xs-12 text-right padding-1">
      <div ng-if="hm.collapse" class="textColor cursor"  ng-click="hm.decrementCount()">Collapse</div>
      <div  ng-if="!hm.collapse" class="textColor cursor" ng-click="hm.incrementCount()">See all</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="noticesSection">
        <div ng-repeat="notice in hm.notices |orderBy:'updatedAt':true|limitTo:hm.noticeCount">
          <notice-box notice="notice"></notice-box>
        </div>
      </div>
    </div>
  </div>
</div>
