.list-element {
  position: relative;
}

.list-avatar {
  position: absolute;
  top: 22px;
  left: 50px;
  height: 75px;
  width: 75px;
}

.list-title {
  position: relative;
  left: 5em;
  font-weight: 600;
  font-size: 1.2em;
  top: 1em;
}

.list-date {
  position: absolute;
  left: 135px;
  font-weight: 500;
  font-size: 0.75em;
  top: 45px;
  color: #999;
}

.list-description {
  position: absolute;
  left: 135px;
  font-weight: 500;
  top: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50%;
  display: block;
}
