

@for $i from 0 through 4 {
  .padding-#{$i} { padding: $unit * $i; }
  .padding-top-#{$i} { padding-top: $unit*$i; }
  .padding-bottom-#{$i} { padding-bottom: $unit * $i; }
  .padding-left-#{$i} {padding-left: $unit * $i ;}
  .padding-right-#{$i} {padding-right: $unit * $i ;}

  .margin-#{$i} { margin : $unit * $i ;}
  .margin-top-#{$i} { margin-top : $unit * $i ;}
  .margin-right-#{$i} { margin-right : $unit * $i ;}
  .margin-bottom-#{$i} { margin-bottom : $unit * $i ;}
  .margin-left-#{$i} { margin-left : $unit * $i ;}
}


.margin-top-half {
  margin-top: $unit/2;
}

.padding-half {
  padding: $unit/2;
}

.padding-top-half {
  padding-top: $unit/2;
}

.padding-bottom-half {
 padding-bottom: $unit/2;
}

.padding-left-half {
 padding-left: $unit/2;
}

.padding-right-half {
 padding-right: $unit/2;
}


.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin-top: $unit/3;
  margin-bottom: $unit/3;
}

.card-hover {
  @extend .card;
  &:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
}

.position-relative {
  position: relative;
}
