<!--
<div class="likeBtnContainer">
<div class="fb-like"
 data-href="http://demonew.azurewebsites.net/"
 data-layout="button_count"
 data-action="like"
 data-show-faces="true">
</div>
</div>

<div class="fb-share-button"
   data-href="http://demonew.azurewebsites.net/"
   data-layout="button_count"
   data-mobile_iframe="true">
 </div>

<div class="social" style="float:right">
<a href="https://twitter.com/vinay_gosain" class="twitter-follow-button" data-show-count="false">Follow</a>
</div>

<div id="shareBtn" class="btn btn-success clearfix" onclick="shareBtn()">Share</div>

 <div class="fb-comments"
 data-href="http://demonew.azurewebsites.net/"
 data-numposts="5">
</div>
-->

<button onclick="AccessToken()">Login</button>
