<!--
<div data-ng-controller="Sidebar as vm">
  <div class="sidebar-filler"></div>
  <div class="sidebar-dropdown"><a href="#">Menu</a></div>
  <div class="sidebar-inner">
    <div class="sidebar-widget"></div>
    <ul class="navi">
      <li class="">
        This area is reserved for left hand side bar
      </li>
    </ul>
  </div>
</div>
-->
