
<div class="uploadTab" ng-controller="UploadController as uc">
  <div class="uploadMenu" ng-if="!uc.showUploadForm">
  <p id="pDesc" class="h2">
    <small>Share something with your community by hitting upload.</small>
  </p>
  <fieldset ng-disabled="uc.uploading">
    <form name="uploadForm">
      <div style="margin:20% 40%;padding-left:7%">
        <i class="fa fa-upload fa-3x" aria-hidden="true"></i>
        <div class=" uploadBox textCenter" ng-if="!uc.uploading">
          <input  class="fileInput" name="btnChoose" required type="file" ng-model="uc.myfile"
          accept="image/*,.doc, .docx.,.ppt, .pptx,.txt,.pdf"
          onload="uc.onFileLoad"
          base-sixty-four-input>
          Upload
        </div>
      </div>
      <div class="textCenter">
        <div class="progress col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4" ng-if="uc.uploading" >
          <div class="progress-bar progress-bar-striped active" role="progressbar"
          aria-valuemin="0" aria-valuemax="100" style="width:100%">
          Uploading...
        </div>
      </div>

      <my-modal open="uc.open" doaction="uc.doAction()"></my-modal>

</div>
</form>
</fieldset>
</div>
<div class="uploadDiv pullDown col-xs-12" ng-if="uc.showUploadForm">
  <form name="fileUploadForm" class="card uploadForm" ng-submit="enroll.submitUserInfo()">
    <table class="table borderless">
    <tbody>
      <tr>
        <td colspan="2" class="leftPad">
          <i class="fa fa-file fa-3x" style ="color:red" aria-hidden="true"></i>
            <span class="textCenter titleSpan">
              &nbsp;&nbsp;{{uc.myfile.filename | limitTo:20}}{{uc.myfile.filename.length > 20 ? '...' : ''}}
              is uploaded.</span>
          </td>
          </tr>
          <tr>
            <td colspan="2" class="leftPad">
              Before hitting publish please mention
            </td>
            </tr>
      <tr>
        <td class="input-group">
          <label class="input-group-addon transparent" for=title"">Title*</label>
        </td>
        <td>
          <input name="title" type="text"  ng-model="uc.myfile.filename"
                 class="form-control" placeholder="Name of the file."
                 ng-class="{'is-valid':fileUploadForm.title.$valid,'has-error' : fileUploadForm.title.$touched && fileUploadForm.type.$error.required}"
                 required />
           <span class="help-block" ng-show="fileUploadForm.title.$touched &&  fileUploadForm.title.$error.required">
             Title is Required
           </span>
        </td>
      </tr>
      <tr>
        <td class="input-group">
          <label class="input-group-addon transparent" for="type">Type*</label>
        </td>
        <td>
          <input name="type" type="text"  ng-model="uc.myfile.type"
                 class="form-control" placeholder="Eg. notes"
                 ng-class="{'is-valid':fileUploadForm.type.$valid,'has-error' : fileUploadForm.type.$touched && fileUploadForm.type.$error.required}"
                 required />
           <span class="help-block" ng-show="fileUploadForm.type.$touched &&  fileUploadForm.type.$error.required">
             Type is Required
           </span>
        </td>
      </tr>
      <tr>
        <td class="input-group">
          <label class="input-group-addon transparent" for="subject">Subject*</label>
        </td>
        <td>
          <input name="subject" type="text"  ng-model="uc.myfile.subject"
                 class="form-control" placeholder="Eg. Satellite communication"
                 ng-class="{'is-valid':fileUploadForm.subject.$valid,'has-error' : fileUploadForm.subject.$touched && fileUploadForm.type.$error.required}"
                 required />
           <span class="help-block" ng-show="fileUploadForm.subject.$touched &&  fileUploadForm.subject.$error.required">
             Subject is Required
           </span>
        </td>
      </tr>
      <tr>
        <td class="input-group">
          <label class="input-group-addon transparent" for="course">Course</label>
        </td>
        <td>
          <input name="course" type="text"  ng-model="uc.myfile.course"
                 class="form-control" placeholder="ECE,CSE,etc."
                  />
        </td>
      </tr>
      <tr>
        <td class="input-group">
          <label class="input-group-addon transparent" for="semester">Semester</label>
        </td>
        <td>
          <input name="semester" type="text"  ng-model="uc.myfile.semester"
                 class="form-control" placeholder="I,II,III,IV,etc."
                  />
        </td>
      </tr>


<tr class="textCenter">
  <td colspan="2" >
    <input type="button" value="Publish" class="btn btn-warning btn-md cursor" ng-disabled="fileUploadForm.$invalid" ng-click="uc.Publish()" />
    <input type="button" value="Cancel" class="btn btn-default btn-md cursor " ng-click="uc.Cancel()" />
  </td>
  </tr>
  </tbody>
  </table>

</form>
</div>

</div>
