<div ng-include = "'stardocx/dashboard/header.html'" ></div>

<div ng-controller ="NoticeDetailController as nc">
	<div id="customBlock" class="row" style="font-size:12px;">
		<hr style="position:relative;border-top:1px solid black;top:8em;min-width:400px" />
		<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-10">
			<br /><br /><br />

			<div class="row" style="font-size:1.2em">
				<div class="col-xs-1 textColor cursor" ng-click="nc.goBack()">Back</div>
				<div class="col-xs-offset-1 col-xs-9 col-md-offset-3 col-md-6">{{nc.notice.ownerName}}'s Post</div>
			</div>
			<div style="min-width:350px" class="row col-xs-12">
				<div style="float:left">
					<span style="display: inline-table">
						<div class="cursor" ng-click="nb.upVote()">
							<i class="fa fa-caret-up noticeBoxIcon fa-3x"
								 ng-class="{Active:nb.notice.isUpvoted}"
								 aria-hidden="true"></i>
						</div>
						<div class="text-center">{{nb.notice.upVotes}}</div>
						<div class="text-center">{{nb.notice.downVotes}}</div>
						<div class="cursor" ng-click="nb.downVote()">
							<i class="fa fa-caret-down fa-3x noticeBoxIcon"
								 ng-class="{Active:nb.notice.isDownvoted}"
								 aria-hidden="true"></i>
						</div>
					</span>
				</div><br />
				<div class="col-xs-10" style="font-size:1em;position:relative;left:2em;word-break:break-all">
					{{nc.notice.filename}}<br /><br />27 Minutes Ago<br />
					<span class="list-date">{{nb.date}}</span>
				</div>
			</div><br />
			<div id="items" class="row" style="min-width:380px">
				<div class="col-xs-12">
					<strong class="h4">810 Shares</strong>
					<a href="#" class="col-xs-offset-5 col-md-offset-8" style="margin-right:1em">Open</a>
					<a ng-href="{{nc.notice.driveUrl}}">
						<i class="fa fa-download fa-2x col-xs-offset-0 col-md-offset-0" aria-hidden="true"></i>
					</a>
				</div>
			</div><br />
			<div id="shareButtons" class="row">
				<div class="text-center" style="color:green;">
					<!-- TODO -- ADD SOCIAL MEDIA SHARING BUTTONS -->
				</div>
				</div>
			</div>
		</div>
	</div>
	<br /><br />
	<div id="fbBlock" class="row col-md-offset-3">
		<div class="col-xs-offset-1">
			<div class="fb-like col-xs-6 col-md-5"
				data-href="{{nc.noticeUrl}}"
				data-layout="standard"
				data-action="like"
				data-show-faces="true">
			</div>
			<div class="fb-share-button col-xs-push-3 col-md-push-0"
				data-href="{{nc.noticeUrl}}"
				data-layout="button_count">
			</div>
			<div class="fb-comments col-xs-12"
				data-href="{{nc.noticeUrl}}"
				data-numposts="5">
			</div>
		</div>
	</div>
</div>
