<div ng-include = "'stardocx/dashboard/header.html'" ></div>

<div ng-controller="UserProfileEdit as enroll" class="padding-top-2">
  <div class="row">
    <div class="col-md-6 col-md-push-3">
      <my-modal open="enroll.open" doaction="enroll.doAction()"></my-modal>

      <div id="divEnroll" class="row">
        <div class="text-center">
          <img ng-src={{enroll.champ}} class="img-circle champImg" />
        </div>
        <!-- <pre>
          {{enrollForm.college|json}}
        </pre> -->

      </div>
      <div>
        <form name="enrollForm" class="col-xs-12" ng-submit="enroll.submitUserInfo()">
          <table class="table borderless ">
            <tbody>
            <div class="text-center margin-top-1" ng-if="!isNaN(enroll.userInfo['enrollmentNumber'])" >
              <span>Enrollment No - {{enroll.userInfo['enrollmentNumber']}}</span>
              <!-- <label ng-if="!show">{{enroll.userInfo['enrollmentNumber']}}</label> -->
              <input name="enroll_no" type="text" id="enroll_no" ng-model="enroll.userInfo['enrollmentNumber']"
                     ng-if="show" minlength="11" maxlength="11"
                     ng-class="{'is-valid':enrollForm.enroll_no.$valid,'has-error' : enrollForm.enroll_no.$touched && enrollForm.enroll_no.$invalid}"
                     required />
                <span class="glyphicon clickable cursor" ng-disabled="enrollForm.enroll_no.$invalid"
                      ng-class="{'glyphicon-pencil': !show,'glyphicon-ok':show}"
                      ng-click="show = !show; show||enroll.updateEnrollmentNo()" ></span><br />
            </div>
            <tr><br />
              <td class="input-group">
                <label class="input-group-addon transparent" for="first_name">First Name</label>
              </td>
              <td>
                <input name="first_name" type="text" id="first_name" ng-model="enroll.userInfo['first_name']"
                       class="form-control" placeholder="First Name"
                       ng-class="{'is-valid':enrollForm.first_name.$valid,'has-error' : enrollForm.first_name.$touched && enrollForm.first_name.$error.required}"
                       required />
               <span class="help-block" ng-show="enrollForm.first_name.$touched &&  enrollForm.first_name.$error.required">
                 First Name is Required
               </span>
              </td>
            </tr>
            <tr>
              <td class="input-group">
                <label class="input-group-addon transparent" for="last_name">Last Name</label>
              </td>
              <td>
                <input name="last_name" type="text" id="last_name" ng-model="enroll.userInfo['last_name']"
                       class="form-control" placeholder="Last Name"
                       ng-class="{'is-valid':enrollForm.last_name.$valid,'has-error' : enrollForm.last_name.$touched && enrollForm.last_name.$error.required}"
                       required />
               <span class="help-block" ng-show="enrollForm.last_name.$touched &&  enrollForm.last_name.$error.required">
                 Last Name is Required
               </span>
              </td>
            </tr>
            <tr>
              <td class="input-group">
                <label class="input-group-addon transparent" for="college">College</label>
              </td>
              <td>
                <input name="college" type="text" id="college" ng-model="enroll.userInfo['college']"
                       uib-typeahead="college.value for college in enroll.colleges | filter:$viewValue |  limitTo:8"
                       class="form-control" placeholder="College" typeahead-editable="false" typeahead-min-length="0" typeahead-no-results="noClgResult"
                       ng-class="{'is-valid':enrollForm.college.$valid,'has-error' : enrollForm.college.$touched && enrollForm.college.$error.required}"
                       required />
                 <span ng-if="noClgResult" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
                  <ul class="uib-dropdown" style="text-align:left;list-style:none">
                    <li><a href>no results</a></li>
                  </ul>
                </span>

               <span class="help-block" ng-show="enrollForm.college.$touched &&  enrollForm.college.$error.required">
                 College is Required
               </span>
              </td>
            </tr>
            <tr>
              <td class="input-group">
                <label class="input-group-addon transparent" for="specialization">Specialization</label>
              </td>
              <td>
                <input name="specialization" type="text" id="specialization" ng-model="enroll.userInfo['program']"
                       uib-typeahead="program.value for program in enroll.programs | filter:$viewValue |  limitTo:8"
                       class="form-control" placeholder="Specialization"  typeahead-editable="false" typeahead-min-length="0" typeahead-no-results="noSpecResult"
                       ng-class="{'is-valid':enrollForm.specialization.$valid,'has-error' : enrollForm.specialization.$touched && enrollForm.specialization.$error.required}"
                       required />
                 <span ng-if="noSpecResult" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
                  <ul class="uib-dropdown" style="text-align:left;list-style:none">
                    <li><a href>no results</a></li>
                  </ul>
                </span>
               <span class="help-block" ng-show="enrollForm.specialization.$touched &&  enrollForm.specialization.$error.required">
                 Specialization is Required
               </span>
              </td>
            </tr>
            <!-- <tr>
              <td class="input-group">
                <label class="input-group-addon transparent" for="batch">Batch</label>
              </td>
              <td>
                <select class="form-control" name="batch"
                 ng-class="{'has-error' : enrollForm.batch.$touched && enrollForm.batch.$error.required}"
                 required>
                  <option ng-repeat="year in enroll.userInfo['batch']">
                    {{year}}
                  </option>
                </select>
              </td>
            </tr> -->

            <tr>
              <td class="input-group">
                <label class="input-group-addon transparent" for="batch">Batch</label>
              </td>
              <td>
                <input name="batch" type="number" min="2000" max="2016" step="1" id="batch" ng-model="enroll.userInfo['batch']"
                       class="form-control" placeholder="Admission Year"
                       ng-class="{'is-valid':enrollForm.batch.$valid,'has-error' : enrollForm.batch.$touched && enrollForm.batch.$error.required}"
                       required />
               <span class="help-block" ng-show="enrollForm.batch.$touched &&  enrollForm.batch.$error.required">
                 Graduation Year is Required
               </span>
              </td>
            </tr>
            <tr>
              <td class="input-group">
                <label class="input-group-addon transparent" for="email">Email</label>
              </td>
              <td>
                <input name="email" type="email" id="email" ng-model="enroll.userInfo['email']"
                       class="form-control" placeholder="Email"
                       ng-class="{'is-valid':enrollForm.email.$valid,'has-error' : enrollForm.email.$touched && (enrollForm.email.$error.required || enrollForm.email.$error.email)}"
                       required />
               <span class="help-block" ng-show="enrollForm.email.$touched &&  enrollForm.email.$error.required">
                 Email is Required
               </span>
               <span class="help-block" ng-show="enrollForm.email.$touched &&  enrollForm.email.$error.email">
                 Invalid Email
               </span>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-center">
            <input type="button" value="Update" class="btn btn-warning btn-md cursor" ng-disabled="enrollForm.$invalid" ng-click="enroll.updateUserInfo()" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
