
<div class="row">
  <div class="col-xs-offset-1">
    <p>You are almost there. Your fb account has been linked. To get customised experience ,tell us
    </p>
  </div>


  <div class="col-xs-offset-3 col-lg-offset-4 ">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <br>
  
  <div class="col-xs-offset-5 col-lg-offset-5 ">
    <span>Or</span>
  </div>
  <br>

  <div class="col-xs-offset-3 col-lg-offset-4 ">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="University Name" aria-describedby="basic-addon1">
    </div>
  </div>
  <br>

  <div class="col-xs-offset-3 col-lg-offset-4 ">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Specialization" aria-describedby="basic-addon1">
    </div>
  </div>
  <br>

  <div class="col-xs-offset-3 col-lg-offset-4 ">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Batch" aria-describedby="basic-addon1">
    </div>
  </div>
  <br>


  <nav class="navbar navbar-fixed-bottom navbar-inverse ">
    <div class="container" style="text-align:center">
      <a href="/"><span class="brand-title text-center">Get Started</span></a>
    </div>
  </nav>
