<div ng-controller="UserAutoEnroll as enroll" >
  <div class="row navHead bottom-buffer">
    <div class="col-xs-offset-1 col-xs-3">
      <strong>StarDocX</strong>
    </div>
  </div>

  <my-modal open="enroll.open"></my-modal>

  <div id="divEnroll" class="row text-center">
    <img ng-src={{enroll.champ}} class="img-circle champImg" />
      <p class="h3" style="padding:0px !important">Hey {{enroll.userData['first_name']}}!</p>
      <p id="pDesc" class="h2 col-xs-offset-0 col-xs-12 col-md-offset-2 col-md-8">
        <small>{{enroll.description}}</small>
      </p>
      <form name="enrollForm" class="form-inline" ng-submit='enroll.submitUserInfo()'>
        <table class="table table-condensed borderless">
          <tbody>
              <tr class="input-group col-sm-offset-1">
                <td>
                  <label class="input-group-addon transparent" for="enrollNo">
                    <h4 style="margin-top:0px !important">Enrollment Number</h4>
                  </label>
                </td>
                <td>
                  <input name="enrollNo" ng-model='enroll.enrollmentNumber' type="text" id="txtEnrollNo"
                         class="form-control"
                         ng-class="{'is-valid':enrollForm.enrollNo.$valid,'has-error' : enrollForm.enrollNo.$touched && enrollForm.enrollNo.$invalid}"
                         minlength="11" maxlength="11"  placeholder="123456789" required ><br />
                  <span class="help-block" ng-show="enrollForm.enrollNo.$touched &&  enrollForm.enrollNo.$invalid">
                    Enter 11-digit Enrollment Number!
                  </span><br />
                  <a class="col-xs-offset-0 cursor" ng-click="enroll.showEnrollDef()" style="font-size:10px"><i>What is an enrollment number ?</i></a>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="button" value="Submit" ng-click='enroll.submitUserInfo()' class="btn btn-warning btn-md cursor"
                         ng-disabled="enrollForm.$invalid" />
                 <input type="button" value="Delete" ng-click='enroll.deleteUserInfo()' class="btn btn-warning btn-md" /><br />

                </td>
              </tr>
            </tbody>
          </table>
        </form>
        <button class="btn btn-link" ui-sref="user-man-enroll"><h3><small>Skip, i will enter my details manually</small></h3></a>

  </div>
</div>
